{% extends 'base.html' %}

{% block content %}
<h1>{% block title %} Edit "{{ post['title'] }}" {% endblock %}</h1>

<form method="post">
    <div class="form-group">
        <label for="title">Title</label>
        <input type="text" name="title" placeholder="Post title"
               class="form-control"
               value="{{ request.form['title'] or post['title'] }}">
        </input>
    </div>

    <div class="form-group">
        <label for="yearReleased">Release Year</label>
        <input type="int" name="yearReleased"
               placeholder="Year of Release" class="form-control"
               value="{{ request.form['yearReleased'] or post['yearReleased']}}"></input>
    </div>

    <div class="form-group">
        <label for="genre">Genre</label>
        <input type="text" name="genre"
               placeholder="film Genre" class="form-control"
               value="{{ request.form['genre'] or post['genre']}}"></input>
    </div>

    <div class="form-group">
        <label for="rating">Rating</label>
        <textarea name="rating" placeholder="Film Rating"
                  class="form-control">{{ request.form['rating'] or post['rating']}}</textarea>
    </div>

    <div class="form-group">
        <label for="duration">Film Duration</label>
        <input type="int" name="duration"
               placeholder="Duration in Minutes" class="form-control"
               value="{{ request.form['duration'] or post['duration']}}"></input>
    </div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary">Submit</button>
    </div>
</form>
<hr>

<form action="{{ url_for('delete', id=post['filmid']) }}" method="POST">
    <input type="submit" value="Delete Post"
            class="btn btn-danger btn-sm"
            onclick="return confirm('Are you sure you want to delete this post?')">
</form>

{% endblock %}